
<form id=new-job class='form-horizontal' {{action 'submit' on='submit'}}>
  {{job-input job=newJob}}
  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
      <button class="btn btn-default" {{action "reset"}}>Cancel</button>
    </div>
  </div>
</form>
