<h2>Here are your Job Opportunities</h2>

{{!-- <ul>
{{#each model as |job|}}
  <li>{{#link-to 'job' job}}{{job.company}} {{job.title}}{{/link-to}} <button {{action 'deleteJob' job}}>Delete</button></li>
{{/each}}
</ul> --}}
